snippet pubf
		public function ${1:name}(${2:...}): ${3:returnType}
		{
			${0:// body}
		}
	
snippet prof
		protected function ${1:name}(${2:...}): ${3:returnType}
		{
			${0:// body}
		}

snippet prif
		private function ${1:name}(${2:...}): ${3:returnType}
		{
			${0:// body}
		}

snippet info
		info(${1:...});

snippet dd
		dd(${1:...});
