snippet pubf "Public function" b
public function $1($2): $3
{
	$4
}
endsnippet

snippet prof "Protected function" b
protected function $1($2): $3
{
	$4
}
endsnippet

snippet prif "Private function" b
private function $1($2): $3
{
	$4
}
endsnippet

snippet pubsf "Public static function" b
public static function $1($2): $3
{
	$4
}
endsnippet

snippet php "PHP file" b
<?php

namespace $1;

class $2
{
	public function __construct($3)
	{
		$4
	}
}
endsnippet
